.second__layer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  padding: 4rem 5rem 4rem 0;
  border-top: 0.5rem solid rgba(111, 110, 110, 0.3);
  color: white;
}
.second__layer img {
  width: 550px;
  object-fit: contain;
  z-index: 2;
}
.tv img {
  position: relative;
  z-index: 2;
}

.second__layer_texts {
  max-width: 500px;
}

.second__layer_texts h1 {
  font-size: 3rem;
}

.second__layer_texts h3 {
  font-size: 1.6rem;
}

.embedded__video {
  position: relative;
}

.embedded__video video {
  position: absolute;
  top: 20.5%;
  left: 13%;
  width: 400px;
  object-fit: contain;
}
